/* Circular, Airbnb Cereal Variant*/

@font-face {
  font-family: "Circular";
  src: url('../font/AirbnbCereal/Circular-normal-400-100.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circular";
  src: url('../font/AirbnbCereal/Circular-normal-600-100.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Circular";
  src: url('../font/AirbnbCereal/Circular-normal-800-100.ttf');
  font-style: normal;
  font-weight: 800;
}
