//TEXT COLORS
$text-clr1: #222;
$text-clr2: #717171;
$airbnb-red: #FF385C;

//BACKGROUND COLORS
$bg-clr-white: white;

//ELEMENT COLORS
$layout-border-clr: #EBEBEB;

//LAYOUT SIZES
$layout-margin: 40px;


// LAYOUT BREAKPOINTS

// logo disappears and nav changes...
$break-mobile: 550px;

//explore page stays the same, but grid has 2 columns
$break-tablet: 700px;

//explore page goes back to desktop layout (without logo)
//grid has 3 columns
$break-desktop: 950px;

//logo shows, grid has 4 columns
$break-desktop-wide: 1127px;

// Grid has 4 columns, but layout margins become bigger...
$break-desktop-widest: 1440px;

// Grid gets 5 columns
$break-desktop-max: 1640px;