.label-grid-container {
  display: grid;
  grid-template-columns: $layout-margin 85vw $layout-margin;
  background-color: $bg-clr-white;
  position: sticky;
  top: 55px;
}

.label-container-main {
  grid-column: 2;
  display: flex;
  position: sticky;
  top: 55px;
  z-index: 1;
  isolation: isolate;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  background-color: $bg-clr-white;

  .label-header {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    padding: 2.5em 0.20625em 0.625em 2.5em;
    flex-shrink: 0;
    background-color: $bg-clr-white;
    gap: 2.75em;
    overflow-x: auto;
    width: 100%;

    // TODO: find out if to place this in the main css.
    // Browser-specific scrollbar settings
    &::-webkit-scrollbar {
      display: none;

    }

    scrollbar-width: none;
    -ms-overflow-style: none;

    .label-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      cursor: pointer;
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 40px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), $bg-clr-white);
        pointer-events: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 40px; // Adjust the width to control the fade-out area
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $bg-clr-white);
        pointer-events: none; // Prevents the pseudo-element from blocking clicks
      }

      .label-img {
        opacity: 0.5;
        width: 1.5rem;
        height: 1.5rem;
        max-width: 3.95rem;
        aspect-ratio: auto 24 / 24;
      }

      .label-text {
        opacity: 0.5;
        text-align: center;
        font-weight: 600;
        font-size: 0.75em;
        white-space: nowrap;
      }

      .label-img,
      .label-text {
        transition: opacity 150ms;
      }

      &:hover {
        .label-img,
        .label-text {
          opacity: 1;
        }
      }
    }
  }

  .scroll-button {
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background-color: $bg-clr-white;
    height: 26px;
    margin-top: 30px;
    flex-shrink: 0;
    z-index: 999;
    cursor: pointer;

    &:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.04);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    }

    &.scroll-right {
      position: absolute;
      right: 0;
    }

    &.scroll-left {
      position: absolute;
      left: 0;
    }
  }

  .filters-button {
    margin-top: 30px;
    display: flex;
    min-width: 48px;
    padding: 15px 1px;
    align-items: flex-start;
  }
}

.scroll-svg-element {
  display: block;
  fill: none;
  height: 12px;
  width: 12px;
  stroke: currentcolor;
  stroke-width: 2px;
  overflow: visible;
}